<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (Submit) = "onSubmit()" >
      <div class="row">
         <div class="col-xs-12">
           <button type="button" class="btn btn-success" (click)="onSubmit()" >Save</button>
           <button type="button" class="btn btn-danger" (click)="onCancelRecipe()">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
              <label for="name">Name</label>
              <input
                  type="text"
                  id="name"
                  class="form-control"
                  formControlName="name"
                >
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
                <label for="imagePath">ImagePath</label>
                <input
                    type="text"
                    id="imagePath"
                    class="form-control"
                    formControlName="imagePath"
                    #imagePath
                  >
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <img [src]="imagePath.value" class="img-responsive">
              </div>
            </div>
          </div>
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                  <label for="description">Description</label>
                  <textarea
                      class="form-control"
                      rows="6"
                      formControlName="description"
                    >
                  </textarea>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12" formArrayName ="recipeIngredient">

                <div class="row"
                      *ngFor="let ingredientControl of recipeForm.get('recipeIngredient').controls; let i = index"
                      [formGroupName] = "i" >
                  <div class="col-xs-8">
                    <input class="form-control"
                           type="text"
                           formControlName = "name"
                           >
                  </div>
                  <div class="col-xs-2">
                      <input class="form-control"
                             type="text"
                            formControlName = "amount"
                             >
                  </div>
                  <div class="col-xs-2">
                    <button class="btn btn-danger">X</button>
                  </div>

                </div>
                <div class="row" style="margin-top: 20px">
                  <button class="btn btn-success"
                          (click)= "onAddIngredient()"> Add Ingredient </button>
                </div>
              </div>
            </div>
    </form>
  </div>
</div>
